@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.About {
  text-align: center;
  background-color: #d5b970;
  color: rgb(255, 255, 255);
  font-family: 'Cinzel Decorative';
  text-align: center;
}

.About-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.About-body {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  margin-left: 50px;
  margin-right: 50px;
}

.About-border {
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: thin;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.About-paragraph {
  font-family: 'EB Garamond';
  text-justify: inter-word;
  line-height: 1.6;
  margin: 10px;
}

h2 {
  font-weight: lighter;
  text-align: center;
}
