@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.About {
  background-color: #ffffff;
  color: #d5b970;
  font-family: 'Cinzel Decorative';
}

.About-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.About-paragarph {
  font-family: 'EB Garamond';
  text-justify: inter-word;
  line-height: 1.6;
  margin-left: calc(10px + 5%);
  margin-right: calc(10px + 5%);
  margin-top: 10px;
  margin-bottom: 50px;
  max-width: 350px;
  min-height: calc(100% - 60px);
}
