@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import '~react-image-gallery/styles/css/image-gallery.css';

.Jobs {
  background-color: #ffffff;
  color: #d5b970;
  font-family: 'EB Garamond';
  margin-bottom: 50px;
}

.Jobs-header {
  font-family: 'Cinzel Decorative';
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.Jobs-paragraph {
  text-justify: inter-word;
  line-height: 1.6;
  margin: 10px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: calc(8px + 2vmin);
  max-width: 700px;
}

.Jobs-image {
  height: 40vmin;
  pointer-events: none;
}
