@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.Contact {
  background-color: #d5b970;
  font-family: 'Cinzel Decorative';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.Contact-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Contact-body {
  font-family: 'EB Garamond';
  font-size: calc(15px + 2vmin);
  letter-spacing: 10;
  margin-bottom: 50px;
}
