@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.Home {
  text-align: center;
  font-family: 'Cinzel Decorative';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.Home-header {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  margin-left: 200px;
  margin-right: 200px;
  word-spacing: 100vh;
}

.Home-body {
  font-family: 'Cinzel Decorative';
  font-weight: 100;
  font-size: calc(25px + 2vmin);
  text-align: left;
  letter-spacing: 10;
  margin-left: 100px;
  margin-right: 800px;
}

h1 {
  font-weight: 100;
  font-size: calc(50px + 2vmin);
  text-align: center;
  letter-spacing: 10;
}
