@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

h1 {
  font-weight: 100;
  font-size: calc(25px + 6vmin);
  text-align: center;
  letter-spacing: 10;
}

h2 {
  font-weight: lighter;
  text-align: center;
}
